@font-face {
  font-family: "GurbaniAkharHeavy";
  src: url('./fonts/gurbani-akhar-heavy.ttf');
}

.gurmukhi {
  font-family: GurbaniAkharHeavy;
  font-size: xx-large;
  color:whitesmoke;
}

.translation-english, .translation-punjabi{
color:grey
}

.bani{
  padding:30px;
}
